.header-container {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.header-items-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}

.header-icons-container {
    list-style: none; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor:pointer;
}

.header-items {
    padding:20px;
    font-size:8px;
}

.header-icons {
    padding:20px;
}